[tools]
uv = "latest"
ruff = "latest"
ty = "latest"
"pipx:zizmor" = "latest"
actionlint = "latest"
yamllint = "latest"

[settings]
# experimental = true
python.uv_venv_auto = "source"
python.compile = false

[settings.pipx]
uvx = true

[tasks."build:custom"]
description = "build my custom calendar"
run = "uv run vndb_calendar.py"
alias = ["run", "custom", "default"]

[tasks."build:en"]
description = "build VNDB calendar with en & ja releases"
env.FILTERS = "0472171_4YsVe122gja2gengwcomplete-"
run = "uv run vndb_calendar.py -f $FILTERS -t 0 -d 1 -b 0"
alias = "en"

[tasks."build:enpatch"]
description = "build VNDB calendar with unofficial en patch released since 2025-07"
env.FILTERS = "052genNg1174172_0ceSsN483hen"
run = "uv run vndb_calendar.py -f $FILTERS -t 12775 -d 0 -b 1" # since 1990
alias = "enpatch"

[tasks."build:zh"]
description = "build VNDB calendar with zh & ja releases"
env.FILTERS = "0472171_4YsVe132gja2wzh_dHans-2wzh_dHant-gwcomplete-"
run = "uv run vndb_calendar.py -f $FILTERS -t 0 -d 1 -b 0"
alias = "zh"

[tasks."build:zhpatch"]
description = "build VNDB calendar with unofficial zh patch released since 2025-07"
env.FILTERS = "04122wzh_dHans-2wzh_dHant-Ng1174172_0ceSs"
run = "uv run vndb_calendar.py -f $FILTERS -t 12775 -d 0 -b 1" # since 1990
alias = "zhpatch"

[tasks."test:wishlist"]
description = "test VNDB wishlist calendar"
run = "uv run wishlist.py -u 'u2'"
alias = "wishlist"

[tasks."lint:py"]
description = "lint python"
run = """
#!/usr/bin/env bash
ruff check --fix *.py
ty check
"""

[tasks."lint:ci"]
description = "lint GitHub Actions"
run = """
#!/usr/bin/env bash
yamllint --strict .github
actionlint
zizmor .github/workflows
# zizmor --pedantic .github/workflows # offline audit using pedantic persona
# zizmor --gh-token=$(gh auth token) .github/workflows # online audit
"""

[tasks.lint]
description = "run linters and apply fixes"
depends = ["lint:*"]

[tasks.changelog]
description = "generate changelog (only run after git tag)"
run = """
#!/usr/bin/env bash
git cliff -o CHANGELOG.md
git add CHANGELOG.md
git commit -m 'chore: update changelog'
"""
alias = "bump"
