name: Custom

on:
  schedule:
    - cron: 0 4 * * * # 4:00 UTC everyday
  workflow_dispatch:

permissions: {}

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true

      - name: setup project with mise
        id: setup-mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
          tool_versions: |
            python ${{ matrix.python-version }}
            uv latest

      - name: build my custom calendar
        run: mise run "build:custom"

      - name: check release changes
        id: check_changes
        run: if [[ $(git diff --name-only HEAD) == *"output/vndb-release.txt"* ]]; then echo "changes=true" > "$GITHUB_OUTPUT"; else echo "changes=false" > "$GITHUB_OUTPUT"; fi

      - name: commit files only on changes
        if: ${{ steps.check_changes.outputs.changes == 'true' }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -u
          git commit -m "ics: update release calendar" -a

      - name: push changes
        if: ${{ steps.check_changes.outputs.changes == 'true' }}
        uses: ad-m/github-push-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
