name: Release

on:
  schedule:
    - cron: 0 4 * * * # 4:00 UTC everyday
  workflow_dispatch:

permissions: {}

jobs:
  build:
    permissions:
      contents: write # required to make release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: true

      - name: setup project with mise
        id: setup-mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
          tool_versions: |
            python ${{ matrix.python-version }}
            uv latest

      - name: build VNDB calendar with en & ja releases
        run: mise run "build:en"

      - name: upload to release
        run: gh release upload "${TAG}" --clobber output/vndb-*
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: en

      - name: build VNDB calendar with unofficial en patch released in 2025
        run: mise run "build:enpatch"

      - name: upload to release
        run: gh release upload "${TAG}" --clobber output/vndb-*
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: enpatch

      - name: build VNDB calendar with zh & ja releases
        run: mise run "build:zh"

      - name: upload to release
        run: gh release upload "${TAG}" --clobber output/vndb-*
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: zh

      - name: build VNDB calendar with unofficial zh patch released in 2025
        run: mise run "build:zhpatch"

      - name: upload to release
        run: gh release upload "${TAG}" --clobber output/vndb-*
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: zhpatch
